/* A debug class, used to separate components graphically during development */
.debug {
    border-style: solid;
  }
  
  .quantity {
    text-align: right;
  }

  .flexParent{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.sidebar {
    width: 400px;
}

.mainContent {
    width: 40%;
    overflow: scroll;
}