/* A debug class, used to separate components graphically during development */
.debug {
  border-style: solid;
}
  
.quantity {
  text-align: right;
}

html, body, #root{
  font-family: sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin-left: 20px;
}

button {
  background-color: #6c7ae0;
  color: #fff;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  padding: 6px 12px;
}

button:hover {
  background-color: rgb(183, 212, 255);
}

button:active {
  background-color: rgb(154, 194, 255);
}

button:disabled {
  background-color: lightgray;
}

input {
  padding: 6px;
  border-radius: 7px;
  border: none;
}

select {
  border: none;
  padding: 6px;
  border-radius: 7px;
}

input, select, button, .sidebar {
  /*box-shadow: 1px 10px 44px -5px rgba(0,0,0,0.10);*/
}

/*                            */
/*          app.js            */
/*                            */
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flexParent{
  display: flex;

  align-items: stretch;
  
  flex-grow: 1;
  align-items: stretch;
}

header {
  max-height: 100px;
  width: 100%;
  background-color: rgb(46, 46, 46);
  
  padding: 10px;
}
header h1 {
  display:inline;
  color: white;
  font-size: 40px;
}
header p {
  display: inline-block;
  font-size: 15px;
  margin-left: 20px;
  color: white;
}

.mainContent {
  font-size: 40px;
  
  border-style: none;
  overflow-y: auto;
  flex-grow: 4;
}


.sidebar {
  border-style: none;
  padding: 0px;
  min-width: 300px;


  background-color: rgb(255, 255, 255);
  border-right: 4px solid rgb(164, 164, 164);
}

@media (max-width: 850px ) { 
  .flexParent{
    flex-direction: column;
  }

  .mainContent {
    font-size: 30px;
  }

  header p {
    margin-top: 0px;
  }
}


/*                            */
/*       SummaryView.js       */
/*                            */

.summaryView table {
  margin-top: 20px;
  margin-left: 20px;
  border-collapse:collapse; 
  border-radius:10px;
  border: 4px solid #6c7ae0;
}

.summaryView table th {
  color: #fff;
  font-size:18px;
  color:#fff;
  line-height:1.4;
  padding: 8px;
  background-color:#6c7ae0
}

.summaryView table td {
  font-size:15px;
  color:rgb(90, 89, 89);
  line-height:1.4;
  padding: 7px;
}

.summaryView table tr {
  font-size:15px;
  color:gray;
  background-color: #fff;
}

.summaryView table tr:nth-child(even) {
  background-color:#f8f6ff
}
.summaryView button {
  margin-left: 20px;
}

@media (max-width: 850px ) { 
  .summaryView table {
    width: 100%;
    margin-left: 0px;
  }

  .summaryView table th {
    padding: 3px;
  }

  .summaryView table td {
    padding: 4px;
  }

  .summaryView button {
    margin-left: 0px;
  }
}

/*                            */
/*      SidebarView.sj        */
/*                            */

.sidebarView {
  flex-grow:1;
  width: 300px;
  padding-top: 20px;
}

.sidebarView table {
  margin-top: 10px;
  width: 100%;
  color:rgb(90, 89, 89);
  
  border-collapse: collapse;

  background-color: white;
  border-color: #6c7ae0;
  border-style: solid;
  border-width: 4px 0 4px 0;
}

.sidebarView table tr:nth-child(even) {
  background-color:#f8f6ff
}

.sidebarView table tr total {
  font-weight: bold;
}

.sidebarView button {
  margin: 10px;
}

@media (max-width: 850px ) { 
  .sidebarView {
    width: 100%;
  }
}

/*                            */
/*    searchFormView.js       */
/*                            */

.searchFormView {
  background-color:#bac1fa;
  border-radius: 20px 20px 0 0;
  padding: 0px 0px 15px 20px;
  margin: 20px 20px 0 20px;
}

.searchFormView button {
  margin-left: 10px;
}

.searchFormView select {
  margin-left: 10px;
}

@media (max-width: 850px ) { 
  .searchFormView {
    margin: 50px 0 0 0;
  }
}

/*                            */
/*   SearchResultsView.js     */
/*                            */

.searchResultsView {
  margin: 0 20px 20px 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #6c7ae0;
  color: white;
  border-radius: 0 0 20px 20px;
  font-size: 15px;
}

.searchResult {
  text-align: center;
  display:inline-block;
  height:140px;
  width: 150px;
  vertical-align: text-top;
  margin: 10px;

  /*For limiting search results items to two lines of text*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.searchResult img {
  border-radius: 10px;
}

@media (max-width: 850px ) { 

  .searchResultsView {
    margin: 0;
  }
}

/*                            */
/*      detailsView.js        */
/*                            */

.detailsView {
  text-align: center;
  font-size: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.detailsView .instruction {
  text-align: left;
  background-color: #6c7ae0;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 8px;

}

.detailsView .ingredients {
  text-align: left;
  background-color: gray;
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.detailsView .price {
  font-weight: bold;
  text-align: right;
}

.detailsView img {
  border:6px solid gray;
  border-radius: 20px;
  height: 300px;
}


.detailsView button {
  margin: 10px 0 10px 10px;
}

.detailsView .buttonWrapper {
  text-align: right;
}


/*                            */
/*           show.js          */
/*                            */

.hidden {
  display: none;
}